# Dependencias
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración del editor
.vscode/

# Carpetas varias
admin-panel

# Entornos (si existieran en el futuro)
.env
.env.example
.env.local


# Firebase
.firebase/
firebase.js 
firebase-panel.js
firebase.json

# Windows
desktop.ini